/* styles.css */

/* 全体のスタイルリセット */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 背景色とフォント */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

/* ヘッダーのスタイル */
header {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: #fff;
    padding: 20px;
    text-align: center;
}
header h1{
    margin-bottom: 50px;
}

.main-nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.main-nav ul li {
    margin: 0 30px;
}

.main-nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
}

.main-nav ul li a:hover {
    color: #fbff00;
}

/* メインコンテンツのスタイル */
main {
    padding: 20px;
    text-align: center;
}
button{
    margin-top: 500px;
}


/* ボタンのスタイル */
button {
    background-color: #ff7e5f;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #feb47b;
}

.clock {
    font-size: 48px;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* フッターのスタイル */
footer {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
