/* styles.css */

/* 全体のスタイルリセット */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 背景色とフォント */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

/* ヘッダーのスタイル */
header {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: #fff;
    padding: 20px;
    text-align: center;
}
header h1{
    margin-bottom: 50px;
}

.main-nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.main-nav ul li {
    margin: 0 30px;
}

.main-nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
}

.main-nav ul li a:hover {
    color: #fbff00;
}

/* メインコンテンツのスタイル */

.clock {
    font-size: 48px;
    animation: fadeIn 1s ease-in-out;
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

main {
    padding: 20px;
    text-align: center;
}

.syumi{
    display: flex;
    justify-content: space-around; /* 要素の間隔を均等に */
    align-items: top; /* 縦の位置を中央に */
    height: 100vh; /* 高さを100%に設定（必要に応じて） */
    font-family: 'Arial', sans-serif; /* フォント */
    font-size: 25px;
    font-weight: bold;
}

.syumi-img1 img {
    position: relative; /* 相対位置を設定 */
    height: 400px; /* 高さを指定 */
    background-color: #282c34; /* 背景色 */
    border-radius: 50%; /* 角丸にする */

    position: absolute; /* 絶対配置 */
    top: 380px; /* 上から20px */
    left: 17%; /* 左から50% */
    transform: translateX(-50%); /* 中央に配置 */
    max-width: 15%; /* 画像の最大幅を100%に設定 */
    height: auto; /* 高さを自動調整 */
}

.syumi-img2 img {
    position: relative; /* 相対位置を設定 */
    height: 400px; /* 高さを指定 */
    background-color: #282c34; /* 背景色 */
    border-radius: 50%; /* 角丸にする */

    position: absolute; /* 絶対配置 */
    top: 380px; /* 上から20px */
    left: 50%; /* 左から50% */
    transform: translateX(-50%); /* 中央に配置 */
    max-width: 15%; /* 画像の最大幅を100%に設定 */
    height: auto; /* 高さを自動調整 */
}

.syumi-img3 img {
    position: relative; /* 相対位置を設定 */
    height: 400px; /* 高さを指定 */
    background-color: #282c34; /* 背景色 */
    border-radius: 50%; /* 角丸にする */

    position: absolute; /* 絶対配置 */
    top: 380px; /* 上から20px */
    left: 83%; /* 左から50% */
    transform: translateX(-50%); /* 中央に配置 */
    max-width: 15%; /* 画像の最大幅を100%に設定 */
    height: auto; /* 高さを自動調整 */
}





/* フッターのスタイル */
footer {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
